{% extends "layout.njk" %}

{% block content %}
  <h1><img src="images/logo.png" alt="Zoo Tycoon 2"></h1>
  <table>
    <thead>
      <tr>
        <th>Animal</th>
        <th>Region</th>
        <th>Biome</th>
        <th>Status</th>
        <th>Fame</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      {% for animal in animals -%}
        <tr>
          <td>{{ animal.name }}</td>
          <td>
            {{ animal.region }}
          </td>
          <td>
            {% set biome = animal.biome %}
            <div class="biome">
              <img src="images/biome/{{ biome | imageName }}.png" alt="">
              <span>{{ biome }}</span>
            </div>
          </td>
          <td>
            {% set statuses = ["Extinct", "Critical", "Endangered", "Vulnerable", "Low Risk"] %}
            {% set status = statuses[animal.status] %}
            <div class="status">
              <img src="images/status/{{ status | imageName }}.png" alt="">
              <span>{{ status }}</span>
            </div>
          </td>
          <td>
            {% set fame = animal.fame %}
            <div class="fame" data-fame="{{ fame }}">
              <div aria-label="{{ fame }}">
                <div aria-hidden="true">
                  {%- for i in range(fame | round(0, "floor")) %}
                    <img src="images/fame/full-star.png" alt="">
                  {%- endfor %}
                  {%- if fame % 1 === 0.5 %}
                    <img src="images/fame/half-star.png" alt="">
                  {%- endif %}
                  {%- for i in range(5 - (fame | round(0, "ceil"))) %}
                    <img src="images/fame/empty-star.png" alt="">
                  {%- endfor %}
                </div>
              </div>
            </div>
          </td>
          <td>
            {% set cost = animal.cost %}
            <div class="cost">
              <span class="cost-symbol">$</span>
              <span class="cost-amount">{{ cost | localeString }}</span>
            </div>
          </td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>
{% endblock %}
